body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgb(249, 248, 248);  
}

.page-title {
    font-size: 24px;
    color: rgb(8, 34, 119);
    margin-top: 20px;
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #a8f59e;
    max-width: 600px;
    width: 100%;
    margin-top: 20px; /* Adjust as needed */
}

.card-content {
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4ea54e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/*form of satisfication */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
}
form button {
    margin-top: 10px; /* Adjust spacing between buttons */
    width: 150px; /* Adjust width as needed */
}
/* Additional styles for Yes and No buttons */

.yes-button, .no-button {
    margin-top: 10px; /* Adjust spacing between buttons */
    width: 150px; /* Adjust width as needed */
}
 button#save {
        background-color: green;
        color: white;
    }

    button#refresh {
        background-color: red;
        color: white;
    }
